.flex-conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-end;

}
div{
    background-color: black;
    color: #ffff;
    width: 300px;
}
.flex-item{

}